@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/gucina');
@import url('https://fonts.cdnfonts.com/css/milker');

body {
    background-image: url(minelisewall.png);
}

a:link {
    text-decoration: none;
}

.navbar {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    border-radius: 50px;
    width: 400px;
    height: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;  
    margin: auto ;
    padding: 0;
    overflow: hidden;
}

.home {
    margin-right: 30px;
    color: white;
    transition: all .3s ease-in-out;
}

.home:hover {
    background-color: black;
    border-radius: 30px;
    padding: 10px;
}

.info {
    color: white;
    transition: all .3s ease-in-out;
}

.info:hover {
    background-color: black;
    border-radius: 30px;
    padding: 13px;
}


.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
     z-index: 100;
     margin-left: 10px;
     margin-top: 10px;
}

.welcome {
    font-family: 'Milker', sans-serif;
    color: white;
    justify-content: start;
    text-align: start;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 150px;
}

.welcome-title-1 {
    font-size: 200px;
    margin-top: 10px;
    margin-bottom: 0;
}

.welcome-title-2 {
    font-size: 200px;
    margin-top: 0;
    margin-bottom: 0;
}